.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px;
}
.cart-container {
    background-color: rgb(251, 189, 135);
    padding: 30px;
    line-height: 30px;
}

.pagination {
    margin: 100px auto;
}
.pagination button {
    margin-left: 10px;
    border: none;
    background-color: orangered;
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.pagination .selected {
    background-color: purple;
}