.header {
    background-color: #1C2B35;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 998;
}

.header a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 30px;
    font-size: 18px;
    font-weight: 500;
}
.header a:hover {
    color: salmon;
}

.btn-logout {
    margin-left: 20px;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: chartreuse;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
}


@media (max-width: 612px) {
    .header a {
        display: none;
    }
    .header {
        justify-content: center;
    }
}